@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
  --color1: #66E2DC; 
  --color2: #FA7453; 
  --color3: #FFB964; 
  --color4: #FCFAF9; 
  --color5: #191826; 
}

* {
  box-sizing: border-box;
  z-index: 2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

